div.drag-area {
  background-color: lightgrey;
  width: 200px;
  height: 200px;
}

div.drag-circle {
  position: relative;
  z-index: 2;
  border: 3px red dashed;
  border-radius: 50%;
  background-color: whitesmoke;
  width: 15px;
  height: 15px;
}
